.accent-bg-mixin {
  color: #fff;
  background-color: #f3615a;
}
.solid-bg-mixin {
  background-color: #f7f7f7;
}
.header-color {
  color: #333333;
}
#main .sidebar-content .header-color {
  color: #333333;
}
.footer .header-color {
  color: #ffffff;
}
.color-base-transparent {
  color: #b4b5bb;
}
.sidebar-content .color-base-transparent {
  color: rgba(133,134,140,0.5);
}
.footer .color-base-transparent {
  color: rgba(243,97,90,0.5);
}
.outline-element-decoration .outline-decoration {
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0);
  box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0);
}
.shadow-element-decoration .shadow-decoration {
  -webkit-box-shadow: 0 6px 18px rgba(0,0,0,0.1);
  box-shadow: 0 6px 18px rgba(0,0,0,0.1);
}
.testimonial-item:not(.testimonial-item-slider),
.testimonial-item .ts-viewport,
.bg-on.team-container,
.dt-team-shortcode.content-bg-on .team-container {
  background-color: #f7f7f7;
}
.outline-element-decoration .testimonial-item:not(.testimonial-item-slider),
.outline-element-decoration .testimonial-item .ts-viewport,
.outline-element-decoration .bg-on.team-container,
.outline-element-decoration .dt-team-shortcode.content-bg-on .team-container {
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0);
  box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0);
}
.shadow-element-decoration .testimonial-item:not(.testimonial-item-slider),
.shadow-element-decoration .testimonial-item .ts-viewport,
.shadow-element-decoration .bg-on.team-container,
.shadow-element-decoration .dt-team-shortcode.content-bg-on .team-container {
  -webkit-box-shadow: 0 6px 18px rgba(0,0,0,0.1);
  box-shadow: 0 6px 18px rgba(0,0,0,0.1);
}
.dt-team-shortcode .team-content {
  font-size: 14px;
  line-height: 25px;
}
.testimonial-item .testimonial-vcard .text-secondary,
.testimonial-item .testimonial-vcard .text-primary,
.testimonial-item .testimonial-vcard .text-primary * {
  color: #333333;
}
.sidebar-content .testimonial-item .testimonial-vcard .text-secondary,
.sidebar-content .testimonial-item .testimonial-vcard .text-primary,
.sidebar-content .testimonial-item .testimonial-vcard .text-primary * {
  color: #333333;
}
.footer .testimonial-item .testimonial-vcard .text-secondary,
.footer .testimonial-item .testimonial-vcard .text-primary,
.footer .testimonial-item .testimonial-vcard .text-primary * {
  color: #ffffff;
}
.testimonial-item .testimonial-vcard a.text-primary:hover,
.testimonial-item .testimonial-vcard a.text-primary:hover * {
  text-decoration: underline;
}
.team-author p {
  color: #333333;
  font:   bold 14px / 24px "Roboto", Helvetica, Arial, Verdana, sans-serif;
  text-transform: none;
}
.dt-team-shortcode .team-author p {
  font:    16px / 28px "Roboto", Helvetica, Arial, Verdana, sans-serif;
  text-transform: none;
  color: #f3615a;
}
.testimonial-vcard .text-secondary {
  color: #333333;
  font-size: 13px;
  line-height: 23px;
  font-weight: bold;
}
#main .sidebar-content .testimonial-vcard .text-secondary {
  color: #333333;
}
.footer .testimonial-vcard .text-secondary {
  color: #ffffff;
}
.dt-testimonials-shortcode .testimonial-vcard .text-secondary {
  font-size: 14px;
  line-height: 25px;
  font-weight: normal;
  color: #f3615a;
}
.dt-testimonials-shortcode .more-link {
  color: #f3615a;
}
.testimonial-vcard .text-primary {
  color: #333333;
  font-size: 14px;
  line-height: 25px;
  font-weight: bold;
}
#main .sidebar-content .testimonial-vcard .text-primary {
  color: #333333;
}
.footer .testimonial-vcard .text-primary {
  color: #ffffff;
}
.testimonial-vcard .text-primary * {
  color: #333333;
}
#main .sidebar-content .testimonial-vcard .text-primary * {
  color: #333333;
}
.footer .testimonial-vcard .text-primary * {
  color: #ffffff;
}
.dt-testimonials-shortcode .testimonial-vcard .text-primary {
  font: normal  normal 20px / 30px "Roboto", Helvetica, Arial, Verdana, sans-serif;
}
.team-author-name,
.team-author-name a {
  color: #333333;
  font: normal  normal 20px / 30px "Roboto", Helvetica, Arial, Verdana, sans-serif;
}
.content .team-author-name a:hover {
  color: #f3615a;
}
.widget .team-author-name {
  font:   bold 16px / 26px "Roboto", Helvetica, Arial, Verdana, sans-serif;
  text-transform: none;
  color: #333333;
}
#main .sidebar-content .widget .team-author-name {
  color: #333333;
}
.footer .widget .team-author-name {
  color: #ffffff;
}
.team-author-name,
.team-author-name a {
  color: #333333;
}
#main .sidebar-content .team-author-name,
#main .sidebar-content .team-author-name a {
  color: #333333;
}
.footer .team-author-name,
.footer .team-author-name a {
  color: #ffffff;
}
.rsTitle {
  font:   bold 54px / 64px "Roboto", Helvetica, Arial, Verdana, sans-serif;
  text-transform: none;
}
.rsDesc {
  font:   bold 42px / 52px "Roboto", Helvetica, Arial, Verdana, sans-serif;
  text-transform: none;
}
@media screen and (max-width: 1200px) {
  .rsTitle {
    font:   bold 42px / 52px "Roboto", Helvetica, Arial, Verdana, sans-serif;
  }
  .rsDesc {
    font:   bold 26px / 36px "Roboto", Helvetica, Arial, Verdana, sans-serif;
  }
}
@media screen and (max-width: 1024px) {
  .rsTitle {
    font:   bold 26px / 36px "Roboto", Helvetica, Arial, Verdana, sans-serif;
  }
  .rsDesc {
    font:   bold 20px / 30px "Roboto", Helvetica, Arial, Verdana, sans-serif;
  }
}
@media screen and (max-width: 800px) {
  .rsTitle {
    font:   bold 16px / 26px "Roboto", Helvetica, Arial, Verdana, sans-serif;
  }
  .rsDesc {
    font:    14px / 25px "Roboto", Helvetica, Arial, Verdana, sans-serif;
  }
}
@media screen and (max-width: 320px) {
  .rsTitle {
    font:    14px / 25px "Roboto", Helvetica, Arial, Verdana, sans-serif;
  }
  .rsDesc {
    display: none !important;
    font:    14px / 25px "Roboto", Helvetica, Arial, Verdana, sans-serif;
  }
}
#main-slideshow .progress-spinner-left,
#main-slideshow .progress-spinner-right {
  border-color: #f3615a !important;
}
.slider-content .owl-dot:not(.active):not(:hover),
.slider-content .owl-dot:not(.active):hover {
  -webkit-box-shadow: inset 0 0 0 2px rgba(133,134,140,0.35);
  box-shadow: inset 0 0 0 2px rgba(133,134,140,0.35);
}
.slider-content .owl-dot.active {
  -webkit-box-shadow: inset 0 0 0 20px rgba(133,134,140,0.35);
  box-shadow: inset 0 0 0 20px rgba(133,134,140,0.35);
}
.sidebar .slider-content .owl-dot:not(.active):not(:hover),
.sidebar .slider-content .owl-dot:not(.active):hover,
.sidebar-content .slider-content .owl-dot:not(.active):not(:hover),
.sidebar-content .slider-content .owl-dot:not(.active):hover {
  -webkit-box-shadow: inset 0 0 0 2px rgba(133,134,140,0.35);
  box-shadow: inset 0 0 0 2px rgba(133,134,140,0.35);
}
.sidebar .slider-content .owl-dot.active,
.sidebar-content .slider-content .owl-dot.active {
  -webkit-box-shadow: inset 0 0 0 20px rgba(133,134,140,0.35);
  box-shadow: inset 0 0 0 20px rgba(133,134,140,0.35);
}
.footer .slider-content .owl-dot:not(.active):not(:hover),
.footer .slider-content .owl-dot:not(.active):hover {
  -webkit-box-shadow: inset 0 0 0 2px rgba(243,97,90,0.35);
  box-shadow: inset 0 0 0 2px rgba(243,97,90,0.35);
}
.footer .slider-content .owl-dot.active {
  -webkit-box-shadow: inset 0 0 0 20px rgba(243,97,90,0.35);
  box-shadow: inset 0 0 0 20px rgba(243,97,90,0.35);
}
